<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="show_sql">true</property>
    <property name="format_sql">false</property>
    <property name="dialect">org.hibernate.dialect.DerbyDialect</property>
    <property name="connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>
    <property name="connection.url">jdbc:derby:DB;create=true</property>
    <property name="connection.username"/>
    <property name="connection.password"/>
    <property name="hibernate.hbm2ddl.auto">save</property>
    
    <mapping class="com.mmsp.model.WPDData"/>
    <mapping class="com.mmsp.model.WPDVersion"/>
    <mapping class="com.mmsp.model.ThematicPlan"/>
    <mapping class="com.mmsp.model.PoCM"/>
    <mapping class="com.mmsp.model.HandbookAcademicPlan"/>
    <mapping class="com.mmsp.model.HandbookCompetency"/>
    <mapping class="com.mmsp.model.HandbookDiscipline"/>
    <mapping class="com.mmsp.model.HandbookTypeOfControl"/>
    <mapping class="com.mmsp.model.HandbookTypeOfLoad"/>
  </session-factory>
</hibernate-configuration>